.hero{
    display: flex;
    width: 100%;
    height: 400px;
    background: url('https://img.freepik.com/free-photo/travel-concept-with-landmarks_23-2149153256.jpg?w=900&t=st=1658901774~exp=1658902374~hmac=d2cf0d9bd75565fa47c71952fe6fd6a441298e5b1c10c854bcc73f7437c42719') no-repeat center/cover;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1040px;
    width: 100%;
    gap: 1.5rem;
    margin: auto;
    padding: 22px 25px;
    background-color: rgba(247,247,247,0.5);
    border-radius: 20px;
}
form input{
    background-color: transparent;
    border: none;
}
form input:focus{
    outline: none;
}
form .inputText{
    width: 200px;
    font-size: 1rem;
}
form label{
    padding-right: 1rem;
    font-weight: 700;
}
.searchBtnDiv{
    display: flex;
    align-items: center;
}
.heroBtn{
    padding: 10px 20px;
    border-radius: 20px;
}


@media screen and (max-width:720px){
    form{
        /* display: flex; */
        flex-direction: column;
        max-width: 100%;
        margin:  auto 1rem;
    }
    .inputText, .from, .until{
        width: 100%;
        text-align: center;    
    }
}